/* src/styles/mdx.css */

/* General Styles for preformatted code blocks */
pre {
  overflow-x: auto;
  background-color: #282c34;
  margin-bottom: 1rem;
  font-family: 'Fira Code', monospace;
  color: #ffffff;
  counter-reset: line;
  padding: 0;
  position: relative;
}

pre[data-line] {
  display: block;
  margin-left: -0.5rem; /* Offset padding added to code */
  margin-right: -0.5rem; /* Offset padding added to code */
  padding: 0 0.5rem;
}

pre[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.5rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

.highlighted {
  background-color: rgba(255, 255, 255, 0.1);
}

.highlighted-chars {
  background-color: rgba(255, 0, 0, 0.1);
}

code {
  font-family: 'Fira Code', monospace;
  color: inherit;
  background-color: transparent;
  padding-left: 0.5rem; /* Add padding to the left of code */
  padding-right: 0.5rem; /* Add padding to the right of code */
  border-radius: 3px;
  display: inline;
  white-space: nowrap;
}

[data-highlighted-line] {
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  width: 100%;
  margin-left: -0.5rem; /* Offset padding added to code */
  margin-right: -0.5rem; /* Offset padding added to code */
  padding: 0 0.5rem;
}

[data-line-numbers] {
  counter-reset: line;
}

[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.5rem;
  margin-right: 0.5rem;
  text-align: right;
  color: gray;
}

/* Increase specificity by targeting a parent class or more context */
.parent-class code[data-language="sh"] {
  color: white !important;
  background-color: #282c34 !important;
}
